name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: ['1.10']
        os: [ubuntu-latest]
        arch: [x64]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - name: Cache Julia artifacts
        uses: julia-actions/cache@v2

      - name: Install dependencies
        run: |
          julia --project=. -e '
            using Pkg
            Pkg.add(url="https://github.com/beve-org/BEVE.jl")
            Pkg.instantiate()
            Pkg.build()
          '

      - name: Run tests
        uses: julia-actions/julia-runtest@v1
